<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>{{ title }}</h1>
    <hr>
    {{{body}}}
</div>
</body>
</html>