<a href="/todos/create" class="btn btn-dark">Créer Todo</a>
<br>
<table class="table">

    <thead>
    <tr>
        <th>Libellé</th>
        <th width="25%">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#todos}}
        <tr>
            <td>
                {{#checked}}<s>{{label}}</s>{{/checked}}
                {{^checked}}{{label}}{{/checked}}
            </td>
            <td>
                <form action="/todos/{{id}}/delete" method="post" onsubmit="return confirm('Voulez vous vraiment supprimer ce todo ? ')">
                    <a href="/todos/{{id}}" class="btn btn-dark">
                        Modifier
                    </a>
                    <button class="btn btn-dark">
                        Supprimer
                    </button>
                </form>
            </td>
        </tr>
    {{/todos}}
    </tbody>
</table>
