<form action="/todos" method="post">
    {{#errors.has}}
        <div class="alert alert-danger">Vous avez une erreur dans votre formulaire</div>{{/errors.has}}

    <input type="hidden" name="id" value="{{todo.id}}">

    <div class="form-group row">
        <label for="label" class="col-sm-3 col-form-label">Libellé</label>
        <div class="col-sm-9">
            <input type="text" placeholder="Libellé du todo" name="label" id="label" value="{{todo.label}}"
                   class="form-control {{#errors.label}}is-invalid{{/errors.label}}">
            <small class="invalid-feedback">{{errors.label}}</small>
        </div>
    </div>
    <div class="form-group row">
        <label for="checked" class="col-sm-3 col-form-label">Tâche effectuée</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" type="checkbox"  id="checked" name="checked"
                       {{#todo.checked}}checked{{/todo.checked}}>
            </div>
        </div>
    </div>
    <div style="display: inline-flex">
        <button class="btn btn-dark">Save</button>&nbsp;&nbsp;
        <a class="btn btn-outline-secondary" href="/todos">Cancel</a>
    </div>
</form>
